{% extends 'base.html' %}
{% block content %}
<div class="aboutus-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="col-8"></div>
        <div class="aboutus">
          <h2 class="aboutus-title">About Us</h2>
          <p class="aboutus-text" align="justify">
            These days,laptops are as common in our campus as backpacks, notebooks and pencils.
            The theft of computers has become an expensive problem for many colleges.In fact, 
            many campus security departments receive more reports about stolen laptops than any other item.
            So, every laptop owner must be aware that campus theft is prevalent and care for their possessions properly.
            But in addition to that we have provided a web based application for our campus.
            This Web application is belived that it will help to reduce the theft of laptop owners in
            the campus. And It is made with simple and ease of use!!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}